 .forgot-password{
    font-size: 14px;
    color: #0066cc;
    text-decoration: none;
    padding: 100px;
 }
 .container1{
 float: right;
 background-color:white;
 padding: 20px;
 
   }

.create
 {
    background-color: green;
    border: 1px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    color: white;
    display: flex;
    margin: auto;
         }
.login{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 300px;
    height:40px;
    border: 5px;
    display: flex;
    border-color: rgb(9, 9, 9);
    margin: 5px;
 }
.Email{
    border-radius: 5px;
    width: 300px;
    height:40px;
    border-color: rgb(9, 9, 9);
    display: flex;
    margin: 5px;
}

.container0{
    
    margin:auto;
    
    }
.container0 h1{
   max-width: 500px;;
}
.all{
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
}