 .forgot-password{
    font-size: 14px;
    color: #0066cc;
    text-decoration: none;
    padding: 100px;
 }
 .container1{
 float: right;
 background-color:white;
 padding: 20px;
 
   }

.create
 {
    background-color: green;
    border: 1px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    color: white;
    display: flex;
    margin: auto;
         }
.login{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 300px;
    height:40px;
    border: 5px;
    display: flex;
    border-color: rgb(9, 9, 9);
    margin: 5px;
 }
.Email{
    border-radius: 5px;
    width: 300px;
    height:40px;
    border-color: rgb(9, 9, 9);
    display: flex;
    margin: 5px;
}

.container0{
    
    margin:auto;
    
    }
.container0 h1{
   max-width: 500px;;
}
.all{
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
}

/* CSS For forget.html*/

.heading{
   display: flex;
   padding: 0%;
   justify-content: space-between;
   background-color: white;
}
.forget{
   color: blue;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
}
.log-in1{
   color: white;
   background-color: blue;
   border-radius: 5px;
   border: none;
}
.facebook{
   color: blue;
   font-style: normal;
   display: flex;
}
.form11{
   padding-top: 35px;
         
}
.centered{
   background-color: white;
   width: 340px;
   height: 200px;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
}

.search{
   background-color: #0066cc;
   color: white;
   border-radius: 5px; float: right;
   margin: 5px;
}

.cancel{
   color: black;
   border-radius: 5px;
   float: right;
   margin: 5px;
}
.Email11{
   width: 300px;
   margin-bottom: 30px;
}